<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Trabajos Correctivos</h1>
     
   <% for( let index = 0; index < todos.length; index++ ) { %>
            <p> <%= JSON.stringify(todos[index]) %> </p> <br>
   <% } %>
   
  </body>
</html>
